parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc type string of property Tapp\\FilamentLms\\Database\\Factories\\LessonFactory\:\:\$model is not covariant with PHPDoc type class\-string\<Illuminate\\Database\\Eloquent\\Model\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/LessonFactory.php

		-
			message: '#^PHPDoc type string of property Tapp\\FilamentLms\\Database\\Factories\\StepFactory\:\:\$model is not covariant with PHPDoc type class\-string\<Illuminate\\Database\\Eloquent\\Model\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/StepFactory.php

		-
			message: '#^PHPDoc type string of property Tapp\\FilamentLms\\Database\\Factories\\VideoFactory\:\:\$model is not covariant with PHPDoc type class\-string\<Illuminate\\Database\\Eloquent\\Model\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/VideoFactory.php

		-
			message: '#^Method Tapp\\FilamentLms\\Exports\\CourseProgressExport\:\:query\(\) has invalid return type Laravel\\Scout\\Builder\.$#'
			identifier: class.notFound
			count: 1
			path: src/Exports/CourseProgressExport.php

		-
			message: '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Course\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: '#^Method Tapp\\FilamentLms\\Lms\:\:get\(\) should return static\(Tapp\\FilamentLms\\Lms\) but returns Filament\\Contracts\\Plugin\|Filament\\FilamentManager\.$#'
			identifier: return.type
			count: 1
			path: src/Lms.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Lms.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Course\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/LmsPanelProvider.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Lesson\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/LmsPanelProvider.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Step\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/LmsPanelProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$course\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy\<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:\$completed_at\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/Course.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Course\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Step\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:steps\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Method Tapp\\FilamentLms\\Models\\Course\:\:currentStep\(\) should return Tapp\\FilamentLms\\Models\\Step\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Course.php

		-
			message: '#^Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy\<string, Illuminate\\Database\\Eloquent\\Model, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:\$completed_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Lesson.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Lesson\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Lesson.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$completed_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$course\.$#'
			identifier: property.notFound
			count: 7
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$order\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$steps\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Step\:\:\$order\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Step\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\StepUser\:\:\$completed_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:steps\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Using nullsafe property access "\?\-\>seconds" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Models/Step.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Video\:\:\$url\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Video.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$course\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pages/Step.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pages/Step.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Course\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pages/Step.php

		-
			message: '#^Access to an undefined property Tapp\\FilamentLms\\Models\\Step\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pages/Step.php

		-
			message: '#^Property Tapp\\FilamentLms\\Pages\\Step\:\:\$lesson \(Tapp\\FilamentLms\\Models\\Lesson\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Pages/Step.php

		-
			message: '#^Property Tapp\\FilamentLms\\Pages\\Step\:\:\$step \(Tapp\\FilamentLms\\Models\\Step\) does not accept Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Pages/Step.php
