parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc type string of property Tapp\\\\FilamentLms\\\\Database\\\\Factories\\\\LessonFactory\\:\\:\\$model is not covariant with PHPDoc type class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:\\$model\\.$#"
			count: 1
			path: database/factories/LessonFactory.php

		-
			message: "#^PHPDoc type string of property Tapp\\\\FilamentLms\\\\Database\\\\Factories\\\\StepFactory\\:\\:\\$model is not covariant with PHPDoc type class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:\\$model\\.$#"
			count: 1
			path: database/factories/StepFactory.php

		-
			message: "#^PHPDoc type string of property Tapp\\\\FilamentLms\\\\Database\\\\Factories\\\\VideoFactory\\:\\:\\$model is not covariant with PHPDoc type class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:\\$model\\.$#"
			count: 1
			path: database/factories/VideoFactory.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Foundation\\\\Auth\\\\User\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:\\$name\\.$#"
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Foundation\\\\Auth\\\\User\\:\\:hasRole\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: "#^Call to static method find\\(\\) on an unknown class App\\\\Models\\\\User\\.$#"
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: "#^Call to static method url\\(\\) on an unknown class Spatie\\\\Browsershot\\\\Browsershot\\.$#"
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: "#^Method Tapp\\\\FilamentLms\\\\Http\\\\Controllers\\\\CertificateController\\:\\:download\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\StreamedResponse but returns Illuminate\\\\Http\\\\RedirectResponse\\.$#"
			count: 1
			path: src/Http/Controllers/CertificateController.php

		-
			message: "#^Method Tapp\\\\FilamentLms\\\\Lms\\:\\:get\\(\\) should return static\\(Tapp\\\\FilamentLms\\\\Lms\\) but returns Filament\\\\Contracts\\\\Plugin\\|Filament\\\\FilamentManager\\.$#"
			count: 1
			path: src/Lms.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Lms.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:\\$slug\\.$#"
			count: 1
			path: src/LmsPanelProvider.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Lesson\\:\\:\\$name\\.$#"
			count: 1
			path: src/LmsPanelProvider.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Step\\:\\:\\$name\\.$#"
			count: 1
			path: src/LmsPanelProvider.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:\\$image\\.$#"
			count: 1
			path: src/Models/Course.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:\\$slug\\.$#"
			count: 2
			path: src/Models/Course.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Lesson\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Models/Course.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Step\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Models/Course.php

		-
			message: "#^Parameter \\#1 \\$column of method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Tapp\\\\FilamentLms\\\\Models\\\\StepUser\\>\\:\\:where\\(\\) expects array\\<int\\|model property of Tapp\\\\FilamentLms\\\\Models\\\\StepUser, mixed\\>\\|\\(Closure\\(Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Tapp\\\\FilamentLms\\\\Models\\\\StepUser\\>\\)\\: mixed\\)\\|Illuminate\\\\Contracts\\\\Database\\\\Query\\\\Expression\\|model property of Tapp\\\\FilamentLms\\\\Models\\\\StepUser, 'lms_step_user\\.user…' given\\.$#"
			count: 1
			path: src/Models/Course.php

		-
			message: "#^Parameter \\$user of method Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:currentStep\\(\\) has invalid type App\\\\Models\\\\User\\.$#"
			count: 1
			path: src/Models/Course.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Lesson\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Models/Lesson.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Models/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Lesson\\:\\:\\$order\\.$#"
			count: 1
			path: src/Models/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Lesson\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Models/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Step\\:\\:\\$order\\.$#"
			count: 3
			path: src/Models/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Step\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Models/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\StepUser\\:\\:\\$completed_at\\.$#"
			count: 2
			path: src/Models/Step.php

		-
			message: "#^Class Tapp\\\\FilamentLms\\\\Models\\\\User not found\\.$#"
			count: 1
			path: src/Models/StepUser.php

		-
			message: "#^Parameter \\#1 \\$related of method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:belongsTo\\(\\) expects class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>, string given\\.$#"
			count: 1
			path: src/Models/StepUser.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Video\\:\\:\\$url\\.$#"
			count: 1
			path: src/Models/Video.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Course\\:\\:\\$slug\\.$#"
			count: 2
			path: src/Pages/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Lesson\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Pages/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Step\\:\\:\\$name\\.$#"
			count: 1
			path: src/Pages/Step.php

		-
			message: "#^Access to an undefined property Tapp\\\\FilamentLms\\\\Models\\\\Step\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Pages/Step.php

		-
			message: "#^Parameter \\#1 \\$parameters of static method Filament\\\\Resources\\\\Pages\\\\Page\\:\\:getUrl\\(\\) expects array\\<string, mixed\\>, array\\<int, mixed\\> given\\.$#"
			count: 1
			path: src/Resources/CourseResource/RelationManagers/LessonsRelationManager.php

		-
			message: "#^Parameter \\#1 \\$parameters of static method Filament\\\\Resources\\\\Pages\\\\Page\\:\\:getUrl\\(\\) expects array\\<string, mixed\\>, array\\<int, mixed\\> given\\.$#"
			count: 1
			path: src/Resources/LessonResource/RelationManagers/StepsRelationManager.php
